.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 310px);
  /* background-color: #2196f3; */
  /* padding: 10px; */
  height: 420px;
  grid-gap: 20px;
}

.grid-item {
  border: 1px solid #000;
  border-radius: 3px;
}
